a {
    text-decoration: none;
    color: crimson;
}
blockquote {
    background-color: #eaeaea;
}
 
span {
    color: crimson;
}
.creators {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}
#cta {
    color: crimson;
    font-family: 'Lato', sans-serif;
}
li:nth-child(odd) {
    text-decoration: underline;
}